<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <!-- Bootstrap core CSS -->
    <link href="asset/standby.css" rel="stylesheet">



    <link href="asset/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

    <link href="asset/bootstrap.min.css" rel="stylesheet">
</head>
<body class="col-sm-12 md-12 mx-12" style="background-color: #e9ebee;">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>